*
  {
    font-family: Barlow, sans-serif;
    margin: 0;
    padding: 0;
  }
  #middle-header h1, #contact a, h1, #presentation a, .name-design
  {
    font-family: Fraunces, sans-serif;
  }
  
  h1, p
  {
    font-weight: bold;
    opacity: 0.7;
  }
  
  body
  {
    background-color: #000;
  }
  #main-design
  {
    display: flex;
    flex-direction: column;
  }
  header
  {
    width: 100%;
    height: 100%;
    margin-bottom: -2%;
    max-height: 800px;
    color: #fff;
  }
  #image-banniere img
  {
      width: 100%;
      height: 80%;
      max-height: 1000px;
  }
  /* nav 
  {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  } */
  #logo
  {
      width: 50%;
      margin-top: -55%;
      margin-left: 3.5%;

  }
  #middle-header p
  {
    margin-top: ;
    margin-left: auto;
    margin-right: auto;
  }
  #background img
  {
      width:  100%;
  }
  header a 
  {
    color:  #fff;
    font-weight: bold;
  }
 
  nav
  {
      display: flex;
      justify-content: flex-end;
      margin-right: 5%;
      margin-top: -10%;
  }
  #contact
  {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius:  30px;
    width: 18%;
  }
  #contact a 
  {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }
  header h1
  {
    margin-top: ;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    font-weight: bolder;    
    letter-spacing: 15px;
    align-self: flex-end;
  }
  #middle-header
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #middle-header p
  {
    width: 100%;
    height: 115px;
    margin-bottom: 20%;
    background-image: url("images/icon-arrow-down.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  section
  {
    width: ;
    height: 100%;
    margin-top: 0;
    background-color: #fff;
  }
  #presentation
  {
    display: grid;
    grid-template-columns: auto;
  }
  #presentation div, #presentation img
  {
    width: 100%;
  }
  
  
  #supp-info, #good-design
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  #supp-info a
  {
    text-decoration: underline yellow;  
  }
  #good-design a
  {
    text-decoration: underline pink;
  }
  #supp-info h1, #supp-info p, #good-design h1, #good-design p
  {
    text-align: left;
    width: 56%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    font-weight: 550;   
  }
  #firsts-elements, #right-audiance, #multimedia
  {
    display: flex;
    flex-direction: row;
    margin-bottom: -3px;  
    width: 100%;
  }
  #egg-background, #cup-background
  {
    border: none;
    width: 100%;
  }
  ul
  {
    display: flex;
    flex-direction: row;
  }
  a
  {
    text-decoration: none;
    color:  #000;
  }
  li
  {
    list-style-type: none;
    padding: 20px;
  }
  #graphic p, #photography p
  {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: px;
    margin-bottom:;
    font-weight: 550;
  }
  #graphic h1, #photography h1
  {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -220px;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0.7;
  }
  aside
  {
    height: 500px;
  }
  aside h1
  {
    text-align: center;
    margin-top: 16%;
    margin-bottom: 7%;
  }
  aside p
  {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 520;
   
  }
  
  [class="feedback"]
  {
    width: 300px;
  }
  [class="name-design"]
  {
    margin-bottom: 5px;
  }
  #product-image
  {
    display: flex;  
  }
  #product-image img
  {
    width:100%;
  }
  
  #client
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
    
  #client img
  {
    border: none;
    width: 100%;
    border-radius: 100%;
  }
  .photo-client
  {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    width: 20%;
  }
  .name-design
  {
    opacity: 0.8;
  }
  #design-footer p:nth-child(1)
  {
    filter: invert(46%);
  }
  #design-footer a
  {
    color: #2e848a;
  }
  
  footer
  {
    background-color: #84dbd7;
    margin-top: -5px;
    width: 100%;
    height: 150px;
  }
  #design-footer 
  {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300px;
    margin-top: 20px;
  }
  #contacts img
  {
    padding: 5px;
  }
  #link-contact
  {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  } 